@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap");

* {
    box-sizing: border-box;
}

body {
    background: #242333;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    height: 100vh;
    font-family: "Azeret Mono", monospace;
    margin: 0;
}

.contenidor-pelicula {
    margin: 2rem 0;
}

.contenidor-pelicula select {
    background: #fff;
    border: 0;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    margin: 0 0 0 1rem;
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
}

.contenidor {
    margin: 0 0 2rem 0;
    perspective: 100rem;
}

.seient {
    background: #444451;
    height: 1.2rem;
    width: 1.4rem;
    margin: 0.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.seient.seleccionat {
    background: #14ff03;
}

.seient.ocupat {
    background: #ff0000;
}

.seient:nth-of-type(2) {
    margin-right: 2rem;
}

.seient:nth-last-of-type(2) {
    margin-left: 2rem;
}

.seient:not(.ocupat) {
    transition: 0.2s ease-in;
}

.seient:not(.ocupat):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.llegenda .seient:not(.ocupat):hover {
    cursor: default;
    transform: scale(1);
}

.llegenda {
    background: rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: #777;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.llegenda li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}

.llegenda li small {
    margin: 0 0 0 1rem;
}

.fila {
    display: flex;
}

.pantalla {
    background: #fff;
    height: 10rem;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
    margin: 5px 0;
}

p.text span {
    color: #6feaf6;
}
